<nav>
<ul class="top-menu">
    <label for="toggle" id="burger">&#9776; <span class="rsLogo w3-animate-opacity"><img src={{logoSrc}} height="52px" /></span></label>
    <input type="checkbox" id="toggle"/>
    <div class="items w3-animate-opacity">
        <li class="logo"><a routerLink="/" ><img src={{logoSrc}} height="52px" /></a></li>
        <li><a routerLink="/"  class="link">Dashboard</a></li>
        <!-- <li><a routerLink="/customers" class="link">Customers</a></li> -->
    </div>
</ul>
</nav>